@{
    ViewData["Title"] = "Home Page";
}


    <div class="box">
      <a class="button" href="#popup1">@Localize("SolarSystem.Language.ChangeTitle")</a>
    </div>
    @*<div class="CurrentLangText">Current language:
        &nbsp;
        <img src="./pic/SunAndPlanets/640px-Flag_of_the_United_Kingdom.svg.png" class="CurrentLangImg" alt="">
    </div>*@
    
    @*<div id="popup1" class="overlay">
        <div class="popup">
            <h1>Please select another language!</h1>
            <a class="close" href="#">&times;</a>
            <div class="row">
                <div class="col-sm-4">
                <h1><a href="third HU.html"><img src="../pic/SunAndPlanets/Flag_of_Hungary.png" class="langSellectFlag" alt=""></a></h1>
                    <h1>Hungarian</h1>
                </div>
                <div class="col-sm-4">
                    <h1><a href="third DK.html"><img src="../pic/SunAndPlanets/denmarkc-logo-png-transparent.png" class="langSellectFlag"></a></h1>
                    <h1>Danish</h1>
                </div>
                <div class="col-sm-4">
                <h1><a href="third EN.html"><img src="../pic/SunAndPlanets/640px-Flag_of_the_United_Kingdom.svg.png" class="langSellectFlag"></a></h1>  
                    <h1>English</h1>
                </div>       
            </div>
        </div>
    </div>*@

    
    <div class="sun"></div>
    <div class="mercury-outline">
        <div class="mercury">
            <img src="../pic/SunAndPlanets/mercury2.png" width="25px" height="25px" alt="">
            <p>@LocalizePlanetName("Mercury")</p>
        </div>
    </div>
    <div class="venus-outline-1">
        <div class="venus">
            <p>@LocalizePlanetName("Venus")</p>
        </div>
    </div>
    <div class="earth-outline-1">
        <div class="earth">
            <div class="earth-circle">
                <div class="earth-inner"></div>
            </div>
            <p>@LocalizePlanetName("Earth")</p>
        </div>
    </div>
    <div class="mars-outline-1">
        <div class="mars">
            <p>@LocalizePlanetName("Mars")</p>
        </div>
    </div>
    <div class="jupiter-outline-1">
        <div class="jupiter">
            <p>@LocalizePlanetName("Jupiter")</p>
        </div>
    </div>
    <div class="saturnus-outline-1">
        <div class="saturnus">
            <p>@LocalizePlanetName("Saturn")</p>
        </div>
    </div>
    <div class="uranus-outline-1">
        <div class="uranus">
            <p>@LocalizePlanetName("Uranus")</p>
        </div>
    </div>
    <div class="neptune-outline-1">
        <div class="neptune">
            <p>@LocalizePlanetName("Neptune")</p>
        </div>
    </div>
    <div>
        <img src="../pic/astro.png" class="astro" alt="">
    </div>
    <div class="meteor">
        <img src="../pic/meteor.png" class="meteor" alt="">
    </div>
    <!-- <audio controls class="Aaudio">
        <source src="./Lucky Strike (320kbps).mp3" id="zene" type="audio/mp3">
    </audio> -->

    <!-- Sanyi's code -->
    <div class="navbar" id="myNavbar">
        <div id="overlay">
            <img src="../pic/overlay/cancel.png" alt="" onclick="off()" id="cancel"></img>
            <div id="window">
              <div id="txtplanet1">
              
                <h1>@LocalizePlanetName("Mercury")</h1>
               
                      <h3>Mercury is the smallest planet in the Solar System and the closest to the Sun. Its orbit around the Sun takes 87.97 Earth days, the shortest of all the Sun's planets. It is named after the Roman god Mercurius (Mercury), god of commerce, messenger of the gods, and mediator between gods and mortals, corresponding to the Greek god Hermes (Ἑρμῆς). </h3>
              </div>
              <div id="txtplanet2">
                <h1>@LocalizePlanetName("Venus")</h1>
               
                <h3>Venus is the second planet from the Sun. It is named after the Roman goddess of love and beauty. As the brightest natural object in Earth's night sky after the Moon, Venus can cast shadows and can be visible to the naked eye in broad daylight.[18][19] Venus's orbit is smaller than that of Earth, and thus can be seen near the Sun in the morning or evening. Venus orbits the Sun every 224.7 Earth days.[20] It has a synodic day length of 117 Earth days and a sidereal rotation period of 243 Earth days. As a consequence, it takes longer to rotate about its axis than any other planet in the Solar System, and does so in the opposite direction to all but Uranus.  </h3>
              </div>
              <div id="txtplanet3">
                <h1>@LocalizePlanetName("Earth")</h1>
               
                <h3>Earth is the smallest planet in the Solar System and the closest to the Sun. Its orbit around the Sun takes 87.97 Earth days, the shortest of all the Sun's planets. It is named after the Roman god Mercurius (Mercury), god of commerce, messenger of the gods, and mediator between gods and mortals, corresponding to the Greek god Hermes (Ἑρμῆς). </h3>
              </div>
              <div id="txtplanet4">
                <h1>@LocalizePlanetName("Mars")</h1>
               
                <h3>Mars is the smallest planet in the Solar System and the closest to the Sun. Its orbit around the Sun takes 87.97 Earth days, the shortest of all the Sun's planets. It is named after the Roman god Mercurius (Mercury), god of commerce, messenger of the gods, and mediator between gods and mortals, corresponding to the Greek god Hermes (Ἑρμῆς). </h3>
              </div>
              <div id="txtplanet5">
                <h1>@LocalizePlanetName("Jupiter")</h1>
               
                <h3>Jupiter is the smallest planet in the Solar System and the closest to the Sun. Its orbit around the Sun takes 87.97 Earth days, the shortest of all the Sun's planets. It is named after the Roman god Mercurius (Mercury), god of commerce, messenger of the gods, and mediator between gods and mortals, corresponding to the Greek god Hermes (Ἑρμῆς). </h3>
              </div>
              <div id="txtplanet6">
                <h1>@LocalizePlanetName("Jupiter")</h1>
               
                      <h3>Saturn is the smallest planet in the Solar System and the closest to the Sun. Its orbit around the Sun takes 87.97 Earth days, the shortest of all the Sun's planets. It is named after the Roman god Mercurius (Mercury), god of commerce, messenger of the gods, and mediator between gods and mortals, corresponding to the Greek god Hermes (Ἑρμῆς). </h3>
              </div>
              <div id="txtplanet7">
                <h1>@LocalizePlanetName("Uranus")</h1>
               
                <h3>Uranus is the smallest planet in the Solar System and the closest to the Sun. Its orbit around the Sun takes 87.97 Earth days, the shortest of all the Sun's planets. It is named after the Roman god Mercurius (Mercury), god of commerce, messenger of the gods, and mediator between gods and mortals, corresponding to the Greek god Hermes (Ἑρμῆς). </h3>
              </div>
              <div id="txtplanet8">
                <h1>@LocalizePlanetName("Neptune")</h1>
               
                <h3>Neptune is the smallest planet in the Solar System and the closest to the Sun. Its orbit around the Sun takes 87.97 Earth days, the shortest of all the Sun's planets. It is named after the Roman god Mercurius (Mercury), god of commerce, messenger of the gods, and mediator between gods and mortals, corresponding to the Greek god Hermes (Ἑρμῆς). </h3>
              </div>
      
            </div>
      
            <div id="imgplanet1">
                <!--mercury-->
              <img
                
                src="../pic/overlay/mercury-planetcropped.gif"
                alt=""
                height="100%"
                width="100%"
              />
            </div>
            <div id="imgplanet2">
              <img
                
                src="../pic/overlay/venuscropped.gif"
                alt=""
                height="100%"
                width="100%"
              />
            </div>
            <div id="imgplanet3">
              <img
                
                src="../pic/overlay/earthcopped2.gif"
                alt=""
                height="100%"
                width="100%"
              />
            </div>
            <div id="imgplanet4">
              <img
                
                src="../pic/overlay/marscropped.gif"
                alt=""
                height="100%"
                width="100%"
              />
            </div>
            <div id="imgplanet5">
              <img
                
                src="../pic/overlay/jupitercropped.gif"
                alt=""
                height="100%"
                width="100%"
              />
            </div>
            <div id="imgplanet6">
              <img
                
                src="../pic/overlay/saturncropped.gif"
                alt=""
                height="100%"
                width="100%"
              />
            </div>
            <div id="imgplanet7">
              <img
                
                src="../pic/overlay/uranuscropped.gif"
                alt=""
                height="100%"
                width="100%"
              />
            </div>
            <div id="imgplanet8">
              <img
                
                src="../pic/overlay/neptunecropped.gif"
                alt=""
                height="100%"
                width="100%"
              />
            </div>
            <footer>
                <div class="underbar">
                    <a  class="PlanetsOnMenu" id="whiteplanet1">
                    <img src="../pic/overlay/mercury-planetcropped.gif" alt="" class="PlanetsOnMenuIMG" id="merc" onclick="on1()"></a>
                    <a  class="PlanetsOnMenu" id="whiteplanet2">
                    <img src="../pic/overlay/venuscropped.gif" alt="" class="PlanetsOnMenuIMG" id="venus" onclick="on2()"></a>
                    <a  class="PlanetsOnMenu" id="whiteplanet3">
                    <img src="../pic/overlay/earthcopped2.gif" alt="" class="PlanetsOnMenuIMG" id="earth" onclick="on3()"></a>
                    <a  class="PlanetsOnMenu" id="whiteplanet4">
                    <img src="../pic/overlay/marscropped.gif" alt="" class="PlanetsOnMenuIMG" id="mars" onclick="on4()"></a>
                    <a  class="PlanetsOnMenu" id="whiteplanet5">
                    <img src="../pic/overlay/jupitercropped.gif" alt="" class="PlanetsOnMenuIMG" id="jupiter" onclick="on5()"></a>
                    <a class="PlanetsOnMenu" id="whiteplanet6">
                    <img src="../pic/overlay/saturncropped.gif" alt="" class="PlanetsOnMenuIMG" id="saturn" onclick="on6()"></a>
                    <a class="PlanetsOnMenu" id="whiteplanet7">
                    <img src="../pic/overlay/uranuscropped.gif" alt="" class="PlanetsOnMenuIMG" id="uranus" onclick="on7()"></a>
                    <a class="PlanetsOnMenu" id="whiteplanet8">
                    <img src="../pic/overlay/neptunecropped.gif" alt="" class="PlanetsOnMenuIMG" id="neptune" onclick="on8()"></a>
                </div>
            </footer>
        </div>
  
        
      
      
        <a href="#news"  id="mercgomb"  onclick="on1()"><h1>@LocalizePlanetName("Mercury")</h1></a>
        <a href="#contact" id="venusgomb" class="venuszz" onclick="on2()">@LocalizePlanetName("Venus")</a>
        <a href="#about" id="earthgomb" onclick="on3()">@LocalizePlanetName("Earth")</a>
        <a href="#about" id="marsgomb" onclick="on4()">@LocalizePlanetName("Mars")</a>
        <a href="#about" id="jupitergomb" onclick="on5()">@LocalizePlanetName("Jupiter")</a>
        <a href="#about" id="saturngomb" onclick="on6()">@LocalizePlanetName("Saturn")</a>
        <a href="#about" id="uranusgomb" onclick="on7()">@LocalizePlanetName("Uranus")</a>
        <a href="#about" id="neptunegomb" onclick="on8()">@LocalizePlanetName("Neptune")</a>
      </footer>
        
        
      </div>

